.container
{
 background-color: white;
}


body 
     {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      color:white;
      background-image:url(gravel.png);
      font-size: 18px;
     }