.container
{
 background-color: white;
 
}
#container{
   background-color: #ebebeb;
}
.navbar {
   padding: 0;
   
}

body 
     {
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
   
      background-image:url(gravel.png);
      font-size: 18px;
     }
     #Heading
     {
        color: #4AAAA5;
     }
     #Name {
      background: #4AAAA5;
      margin-right: 50%;
      margin-left: 10%;
  }
        .footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         height: 60px;
         line-height: 60px;
         background-color: #666666;
         
     }
            
          #top {
            background-color: #4AAAA5;
            height: 10px;
            width: 100%;
        }
        